<!DOCTYPE html>
<html>
  <head>
    <title>FlashMessages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="notification_container">
    </div>
    <%= yield %>
  </body>
</html>
